@import"./general";
@import"./variables";
@import"./mainIndex";

//Inicio de estilo proyectos.html
.mainProyects {
    font-family: 'kalam', cursive;
    section {
     padding-top: 15px;
        .relleno {
            margin: 5px; 
            font-size: 130%;
        }
    }
    .futureProyect {
        font-family: 'kalam', cursive;
        font-size: 1.2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .albums {
            flex: 0 0 calc(33.33% - 20px);
            margin: 10px;
            text-align: center;
            img {
                display: block; 
                margin: 0 auto; 
                max-width: 100%; 
            }
            h3 {
                font-size: 1.5rem;
                padding-top: 15px;
            }
            .titleLink {
                font-size: 1.2rem;
            }
        }
    }
}
//Estilos de sobre-la-pagina.html
.about {
    font-family: 'kalam', cursive;
    .pastilla {
        font-size: 3rem;
        margin-top: 1rem;
        border: 2px;
        padding: 10px;
        display: inline-block;
        border-radius: 40px;
        background-color: $color-content;
    }
    .container1 {
        font-family: 'kalam', cursive;
        font-size: 1.5rem;
        background-color: $filling;
        padding: 10px;
        border-radius: 40px;
    }
    .container2 {
        font-family: 'kalam', cursive;
        font-size: 1.5rem;
        background-color: $filling;
        padding: 10px;
        border-radius: 40px;
    }
    .container3 {
        font-family: 'kalam', cursive;
        font-size: 1.5rem;
        background-color: $filling;
        padding: 10px;
        border-radius: 40px;
    }
    .faq {
        details {
            font-size: 1.5rem;
            p {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}
//Estilos de sobre-mi.html
.biografia {
    .myTitle {
        font-family: 'kalam', cursive;
        font-size: 3rem;
        padding-top: 1rem;
    }
    .intro {
        font-family: 'kalam', cursive;
        font-size: 130%;
    }
    .example {
        font-family: 'kalam', cursive;
        font-size: 130%;
        background-color: $filling;
        border-radius: 40px;
        padding: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    figure {
        font-family: 'kalam', cursive;
        font-size: 1.5rem;
        padding-top: 20px;
        border-radius: 40px;
        img {
            border: 2px solid #10dc76;
            padding: 10px;
        }  
    }
}
//Estilos de tiers.html
.ctbContent {
    font-family: 'kalam', cursive;
    .tl {
        font-size: 3rem;
        margin-top: 1rem;
        border: 2px;
        padding: 10px;
        border-radius: 40px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color: $color-content;
    }
    .example {
        margin-top: 1rem;
        margin-bottom: 20px;
        font-size: 130%;
        background-color: $filling;
        border-radius: 40px;
        padding: 20px;
        padding-top: 15px;
        padding-bottom: 25px;
    }
    .carousel-inner .carousel-item img {
        display: block;
        margin: 0 auto;
    }
    .t1 {
        animation-name: extreme;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        &:hover {
            color: #fff;
            text-shadow: 0 0 5px $tier-color1,
            0 0 25px $tier-color1,
            0 0 50px $tier-color1,
            0 0 100px$tier-color1;
        }
    }
    .t2 { 
        animation-name: epic;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        &:hover  {
            color: #fff;
            text-shadow: 0 0 5px $tier-color2,
            0 0 25px $tier-color2,
            0 0 50px $tier-color2,
            0 0 100px$tier-color2;
        
        }
    }
    .t3 {       
        animation-name: nm;
        animation-duration: 10s;
        animation-iteration-count: infinite; 
        &:hover  {
            color: #fff;
            text-shadow: 0 0 5px $tier-color3,
            0 0 25px $tier-color3,
            0 0 50px $tier-color3,
            0 0 100px$tier-color3;
            
        }
    }
    .t4 {
        animation-name: easy;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        &:hover  {
            color: #fff;
            text-shadow: 0 0 5px $tier-color4,
            0 0 25px $tier-color4,
            0 0 50px $tier-color4,
            0 0 100px$tier-color4;

        }
    }
//ANIMACIÓN DE OPACIDAD PARA TITULOS DE LOS TIERS!
        @keyframes extreme {
            0% {
            opacity: 0;
            }
            25% {
                opacity: 1;
            }
            50% {
                opacity: 1.5;
            }
            75% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        @keyframes epic {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 1;
            }
            50% {
                opacity: 1.5;
            }
            75% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            } 
        }
        @keyframes nm {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 1;
            }
            50% {
                opacity: 1.5;
            }
            75% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        @keyframes easy {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 1;
            }
            50% {
                opacity: 1.5;
            }
            75% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
}
//Responsives!!
//Responsive de proyectos.html
@media (max-width: 768px) {
    .futureProyect {
        flex-direction: column;
        .albums {
            flex: 0 0 100%;
            margin: 10px 0;
        }
    }
  }
@media only screen and (max-width: 767px) {
    .futureProyect {
        flex-direction: column;
    }

    .futureProyect .albums {
        flex: 0 0 100%;
        margin: 10px 0;
    }
}
//Responsive sobre-mi.html
@media (max-width: 768px) {
    figure {
        img {
            width: 100%;
            height: auto;
            max-width: 300px;
        }
    }
}


//Responsive de tiers.html
.contentResponsive{
    display: none;
    @media (min-width: 1025px) {
        display: none;
    }
}

@media (max-width: 767px) {
    .contentResponsive{
        display: block;
        .containerSplus{
            .tr1{
                color: #fff;
                text-shadow: 0 0 5px $tier-color1,
                0 0 25px $tier-color1,
                0 0 50px $tier-color1,
                0 0 100px$tier-color1;
            }
            .dates{
                color: #fff;
                text-shadow: 0 0 5px $tier-color1,
                0 0 25px $tier-color1,
                0 0 50px $tier-color1,
                0 0 100px$tier-color1;
            }
        }
        .containerS{
            .tr2{
                color: #fff;
                text-shadow: 0 0 5px $tier-color2,
                0 0 25px $tier-color2,
                0 0 50px $tier-color2,
                0 0 100px$tier-color2;
            }
            .dates2{
                color: #fff;
                text-shadow: 0 0 5px $tier-color2,
                0 0 25px $tier-color2,
                0 0 50px $tier-color2,
                0 0 100px$tier-color2;
            }
        }
        .containerA{
            .tr3{
                color: #fff;
                text-shadow: 0 0 5px $tier-color3,
                0 0 25px $tier-color3,
                0 0 50px $tier-color3,
                0 0 100px$tier-color3;
            }
            .dates3{
                color: #fff;
                text-shadow: 0 0 5px $tier-color3,
                0 0 25px $tier-color3,
                0 0 50px $tier-color3,
                0 0 100px$tier-color3;
            }
        }
        .containerB{
            .tr4b{
                color: #fff;
                text-shadow: 0 0 5px $tier-color4,
                0 0 25px $tier-color4,
                0 0 50px $tier-color4,
                0 0 100px$tier-color4;
            }
            .dates4b{
                color: #fff;
                text-shadow: 0 0 5px $tier-color4,
                0 0 25px $tier-color4,
                0 0 50px $tier-color4,
                0 0 100px$tier-color4;
            }
        }
    }
}
@media (max-width: 768px) {
    .contentResponsive{
        display: block;
        .containerSplus{
            .tr1{
                color: #fff;
                text-shadow: 0 0 5px $tier-color1,
                0 0 25px $tier-color1,
                0 0 50px $tier-color1,
                0 0 100px$tier-color1;
            }
            .dates{
                color: #fff;
                text-shadow: 0 0 5px $tier-color1,
                0 0 25px $tier-color1,
                0 0 50px $tier-color1,
                0 0 100px$tier-color1;
            }
        }
        .containerS{
            .tr2{
                color: #fff;
                text-shadow: 0 0 5px $tier-color2,
                0 0 25px $tier-color2,
                0 0 50px $tier-color2,
                0 0 100px$tier-color2;
            }
            .dates2{
                color: #fff;
                text-shadow: 0 0 5px $tier-color2,
                0 0 25px $tier-color2,
                0 0 50px $tier-color2,
                0 0 100px$tier-color2;
            }
        }
        .containerA{
            .tr3{
                color: #fff;
                text-shadow: 0 0 5px $tier-color3,
                0 0 25px $tier-color3,
                0 0 50px $tier-color3,
                0 0 100px$tier-color3;
            }
            .dates3{
                color: #fff;
                text-shadow: 0 0 5px $tier-color3,
                0 0 25px $tier-color3,
                0 0 50px $tier-color3,
                0 0 100px$tier-color3;
            }
        }
        .containerB{
            .tr4b{
                color: #fff;
                text-shadow: 0 0 5px $tier-color4,
                0 0 25px $tier-color4,
                0 0 50px $tier-color4,
                0 0 100px$tier-color4;
            }
            .dates4b{
                color: #fff;
                text-shadow: 0 0 5px $tier-color4,
                0 0 25px $tier-color4,
                0 0 50px $tier-color4,
                0 0 100px$tier-color4;
            }
        }
    }
}
@media (max-width: 1024px) {
    .contentResponsive{
        display: block;
        .containerSplus{
            .tr1{
                color: #fff;
                text-shadow: 0 0 5px $tier-color1,
                0 0 25px $tier-color1,
                0 0 50px $tier-color1,
                0 0 100px$tier-color1;
            }
            .dates{
                color: #fff;
                text-shadow: 0 0 5px $tier-color1,
                0 0 25px $tier-color1,
                0 0 50px $tier-color1,
                0 0 100px$tier-color1;
            }
        }
        .containerS{
            .tr2{
                color: #fff;
                text-shadow: 0 0 5px $tier-color2,
                0 0 25px $tier-color2,
                0 0 50px $tier-color2,
                0 0 100px$tier-color2;
            }
            .dates2{
                color: #fff;
                text-shadow: 0 0 5px $tier-color2,
                0 0 25px $tier-color2,
                0 0 50px $tier-color2,
                0 0 100px$tier-color2;
            }
        }
        .containerA{
            .tr3{
                color: #fff;
                text-shadow: 0 0 5px $tier-color3,
                0 0 25px $tier-color3,
                0 0 50px $tier-color3,
                0 0 100px$tier-color3;
            }
            .dates3{
                color: #fff;
                text-shadow: 0 0 5px $tier-color3,
                0 0 25px $tier-color3,
                0 0 50px $tier-color3,
                0 0 100px$tier-color3;
            }
        }
        .containerB{
            .tr4b{
                color: #fff;
                text-shadow: 0 0 5px $tier-color4,
                0 0 25px $tier-color4,
                0 0 50px $tier-color4,
                0 0 100px$tier-color4;
            }
            .dates4b{
                color: #fff;
                text-shadow: 0 0 5px $tier-color4,
                0 0 25px $tier-color4,
                0 0 50px $tier-color4,
                0 0 100px$tier-color4;
            }
        }
    }
}


